.div-total{
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: 1px solid var(--color-grey-3);
    border-radius: var(--radius-2);
}

.div-total div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-total h4{
    font-size: var(--size-3);
    font-weight: var(--weight-2);
    color: var(--color-grey-1);
}

.div-total strong{
    font-size: var(--size-3);
    font-weight: var(--weight-2);
    color: var(--color-primary);
}

.div-total span{
    font-size: var(--size-5);
    font-weight: var(--weight-5);
    color: var(--color-grey-2);
}